.diwaliSaleSection1 {
  background-size: contain;
}

.heading {
    padding-block: 2vw;
}

.happyDiwali {
    font-size: 4vw;
    color:#ff7440
}

.diwaliDecoration5 {
    width: 5vw;
}

.card {
    background-color: #ccc;
}