@media (min-width: 551px) {
  .searchBtnInPage2 {
    display: none !important;
  }
  .searchInputInPage {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .searchInPage {
    display: none !important;
  }
}
@media (max-width: 550px) {
  .searchBtnInPage1 {
    display: none !important;
  }
  .searchInputInPage {
    width: 65% !important;
  }
}
@media (max-width: 400px) {
  .searchInputInPage {
    width: 75% !important;
  }
}
