.addressEditOrRemove:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .addAddressBtn1 {
    display: block;
  }
  .addAddressBtn2 {
    display: none;
  }
}

@media (max-width: 575px) {
  .addAddressBtn2 {
    display: block;
  }
  .addAddressBtn1 {
    display: none;
  }
}
