.card,
.totalBill {
  background-color: #ccc;
}

.totalBill {
  height: 320px;
}
@media (min-width: 576px) {
  .totalBill {
    min-width: 300px !important;
  }
}
@media (min-width: 768px) {
  .totalBill {
    min-width: 300px !important;
    position: sticky !important;
    top: 10px;
  }
}
@media (min-width: 992px) {
  .totalBill {
    min-width: 400px !important;
  }
  .productCardInCart {
    height: 370px !important;
  }
  .cartContainer {
    gap: 50px;
  }
  .productsInCurt {
    min-width: 485px !important;
  }
}
@media (min-width: 1200px) {
  .totalBill {
    min-width: 500px !important;
  }
  .productCardInCart {
    height: 350px !important;
  }
  .productsInCurt {
    min-width: 550px !important;
  }
}
@media (min-width: 1400px) {
  .totalBill {
    min-width: 600px !important;
  }
}
@media (max-width: 991px) {
  .productCardInCart {
    width: 300px !important;
    height: 740px;
  }
  .cartContainer {
    gap: 30px !important;
  }
}
@media (max-width: 767px) {
  .productCardInCart {
    max-width: 500px !important;
    min-width: 400px !important;
    margin: auto;
  }
}
@media (max-width: 575px) {
  .productCardInCart {
    max-width: 400px !important;
    min-width: 300px !important;
  }
}
@media (max-width: 350px) {
  .productCardInCart {
    max-width: 250px !important;
    min-width: 200px !important;
  }
}
@media (max-width: 291px) {
  .productCardInCart {
    max-width: 200px !important;
    min-width: 200px !important;
  }
}
