.section1 {
  height: 130px;
  background-color: #ccc;
}

.paymentMethodContainer {
  height: 330px;
  background-color: #ccc;
}

.section3 {
  height: 200px;
  background-color: #ccc;
}

@media (min-width: 576px) {
  .paymentMethodMainElement {
    margin-inline: 50px;
  }
}
@media (min-width: 992px) {
  .paymentMethodSectionOne {
    width: 70% !important;
  }
  .paymentMethodSectionTwo {
    width: 30% !important;
  }
}
@media (max-width: 575px) {
  .paymentMethodMainElement {
    margin-inline: 40px;
  }
}
@media (max-width: 450px) {
  .paymentMethodMainElement {
    margin-inline: 30px;
  }
}
@media (max-width: 350px) {
  .paymentMethodMainElement {
    margin-inline: 20px;
  }
}
@media (max-width: 291px) {
  .paymentMethodMainElement {
    margin-inline: 10px;
  }
}