.card {
  height: 300px;
  background-color: #ccc;
}

.heading {
  width: 200px;
  height: 30px;
  background-color: #ccc;
  margin-block: 30px;
}

@media (max-width: 320px) {
  .heading {
    width: 130px;
    height: 60px;
  }
}
