.logo {
  width: 25px;
}
.listProductName,
.productName {
  max-height: 96px !important;
  overflow: hidden !important;
}
.similarCards {
  height: 550px !important;
}
.none {
  display: none;
}
.block {
  display: block;
}

@media (min-width: 250px) {
  .diwaliSaleCard {
    height: 150px !important;
  }
  .diwaliSalePageOffer1 {
    margin-left: 3px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -7px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -5px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 5px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: 0px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -3px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 7px !important;
    margin-bottom: 7px !important;
    margin-left: -9px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -5px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: 3px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: 0px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -3px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -10px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -7px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 0px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -2px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -5px !important;
  }
  .diwaliSaleCheckBtn {
    width: 45px !important;
  }
}
@media (min-width: 300px) {
  .diwaliSaleCard {
    height: 150px !important;
  }
  .diwaliSalePageOffer1 {
    margin-left: 3px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -15px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -12px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 5px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -7px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -10px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -15px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -12px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: 5px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -7px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -10px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -15px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -12px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 5px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -7px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -10px !important;
  }
  .diwaliSaleCheckBtn {
    width: 45px !important;
  }
}
@media (min-width: 321px) {
  .pre-btn,
  .nxt-btn {
    display: none !important;
  }
  .sizeBtnContainer {
    display: inline-block !important;
  }
  .sizeText {
    display: inline-block !important;
  }
  .quantityBtnContainer {
    display: inline-block !important;
  }
  .quantityText {
    display: inline-block !important;
  }
  .alertMessage {
    font-size: 20px !important;
  }
  .totalOrder {
    display: none;
  }
}
@media (min-width: 351px) {
  .searchInApp {
    display: none;
  }
}
@media (min-width: 400px) {
  .searchBtnInPage2 {
    display: none !important;
  }
  .searchInputInPage {
    width: 50% !important;
  }
  .cardInUserProfilePage {
    flex-direction: row !important;
    height: 164px !important;
  }
}
@media (min-width: 420px) {
  .shipTo {
    display: none;
  }
  .diwaliSaleCard {
    height: 200px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -25px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 7px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -12px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -25px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: 7px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -12px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -25px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 7px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -12px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn {
    width: 90px !important;
  }
}
@media (min-width: 500px) {
  .BharatVastra {
    display: none;
  }
  .image {
    height: 300px !important;
  }
  .cardInPaymentMethodPage {
    flex-direction: row !important;
    height: 255px !important;
  }
  .productImageDiv,
  .productImageContainerDiv {
    width: 75%;
  }
}
@media (min-width: 576px) {
  .totalBill {
    min-width: 300px !important;
  }
  .buyingFeatures {
    width: 40px !important;
  }
  .productImage {
    width: 100% !important;
  }
  .diwaliSaleCard {
    height: 300px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -35px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -30px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 10px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -35px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: 10px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -35px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 10px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn {
    width: 145px !important;
  }
  .couponSection {
    gap: 25px !important;
  }
  .couponSectionInput {
    width: 50% !important;
  }
  .couponSectionLabel {
    width: 50% !important;
  }
  .ProductImageContainer,
  .categoryCard {
    width: 100% !important;
  }
  .listProductImage {
    width: 100% !important;
  }
  .paymentMethodMainElement {
    margin-inline: 50px;
  }
}
@media (min-width: 650px) {
  .saleProductFirstSection {
    align-items: center !important;
  }
  .similarItemsImage {
    min-height: 300px !important;
    max-height: 300px !important;
  }
  .similarCards {
    height: 600px !important;
  }
  .productDetailsContainerFirstSection {
    flex-direction: row !important;
    align-items: flex-start !important;
  }
}
@media (min-width: 768px) {
  .totalBill {
    min-width: 300px !important;
    position: sticky !important;
    top: 10px;
  }
  .productDescription {
    font-size: 21px !important;
  }
  .coupon {
    width: 25% !important;
  }
  .similarItemsImage {
    min-height: 250px !important;
    max-height: 250px !important;
  }
  .similarCards {
    height: 550px !important;
  }
  .saveToWishlist {
    font-size: 12px !important;
  }
  .searchInHeader {
    width: 300px !important;
  }
  .searchInPage {
    display: none !important;
  }
  .productDetailsImage {
    position: sticky !important;
  }
  .btnContainer2 {
    display: none;
  }
  .offcanvasFilterForm {
    height: calc(100vh - 60px);
    top: 60px;
  }
  .productImageDiv {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .productCard {
    flex-direction: row !important;
  }
  .listProductImage {
    min-width: 50% !important;
  }
  .upto {
    font-size: 26px !important;
  }
  .diwaliSaleCard {
    height: 430px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -50px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -40px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 15px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -50px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -40px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: 15px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -50px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -40px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 15px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn {
    width: 200px !important;
  }
}
@media (min-width: 900px) {
  .newArrivalCardTitle {
    height: 72px !important;
  }
  .diwaliSaleCardTitle {
    height: 72px !important;
  }
  .saveToWishlist {
    font-size: 15px !important;
  }
}
@media (min-width: 992px) {
  .totalBill {
    min-width: 400px !important;
  }
  .productsInCurt {
    min-width: 485px !important;
  }
  .cartContainer {
    gap: 50px;
  }
  .productDetailsImage {
    min-width: 250px !important;
  }
  .productDetailsContainer {
    margin-inline: 60px;
  }
  .paymentMethodSectionOne {
    width: 70% !important;
  }
  .paymentMethodSectionTwo {
    width: 30% !important;
  }
  .orderDetailsBill {
    width: 250px;
  }
  .text1 {
    width: 40vw;
    font-size: 28px !important;
    font-family: "Salsa", cursive;
    margin-left: 150px !important;
    top: -15px !important;
  }
  .jhalarImage {
    width: 250px !important;
    height: 250px !important;
  }
  .deepakImage {
    width: 280px !important;
    height: 280px !important;
  }
  .text2 {
    font-size: 50px !important;
  }
  .line1 {
    width: 610px !important;
    margin-bottom: 50px !important;
    padding-top: 10px !important;
    height: 18px !important;
  }
  .line2 {
    width: 610px !important;
    height: 18px !important;
    padding-bottom: 8px !important;
    margin-top: 25px !important;
  }
  .saree1 {
    width: 523px !important;
  }
  .saree2 {
    width: 320px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    margin-top: 18px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 36px !important;
  }
  .diwaliOfferOnLahenga {
    max-width: 262px !important;
  }
  .groupOfWomenWearLahenga {
    max-width: 615px !important;
  }
  .diwaliOfferOnShoes {
    max-width: 263px !important;
  }
  .shoeContainerInDiwaliSaleBanner {
    max-width: 613px !important;
  }
  .shoe1 {
    width: 100% !important;
  }
  .diwaliSaleCheckBtn {
    width: 250px !important;
  }
  .productCardInCart {
    height: 370px !important;
  }
  .imageOnProductCurt {
    max-width: 200px !important;
    min-width: 200px !important;
  }
  .newArrivalCardTitle {
    height: auto !important;
  }
  .diwaliSaleCardTitle {
    height: auto !important;
  }
  .hamburger {
    display: none;
  }
  .secondUlContainer {
    display: none;
  }
  .productImageContainerDiv {
    width: 30%;
  }
  .btnInEditOrderPage {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .similarItemsImage {
    min-height: 300px !important;
    max-height: 300px !important;
  }
  .similarCards {
    height: 600px !important;
  }
}
@media (min-width: 1200px) {
  .totalBill {
    min-width: 500px !important;
  }
  .productsInCurt {
    min-width: 550px !important;
  }
  .productDetailsContainer {
    margin-inline: 70px;
  }
  .diwaliOfferOnMenSuit {
    max-width: 316px !important;
  }
  .menWearCoatContainer {
    max-width: 740px !important;
  }
  .diwaliSaleCheckBtn {
    width: 300px !important;
  }
  .productCardInCart {
    height: 350px !important;
  }
  .imageOnProductCurt {
    max-width: 250px !important;
    min-width: 250px !important;
  }
  .productNameOnCartPage {
    height: 50px !important;
  }
  .similarItemsImage {
    min-height: 250px !important;
    max-height: 250px !important;
  }
  .similarCards {
    height: 550px !important;
  }
  .saveToWishlist {
    font-size: 12px !important;
  }
  .searchInHeader {
    width: 400px !important;
  }
  .productImageDiv {
    width: 36%;
  }
}
@media (min-width: 1300px) {
  .saveToWishlist {
    font-size: 15px !important;
  }
}
@media (min-width: 1400px) {
  .productDetailsImage {
    min-width: 300px !important;
  }
  .productDetailsContainer {
    margin-inline: 100px;
  }
  .totalBill {
    min-width: 600px !important;
  }
  .rating-listingPage {
    display: none;
  }
  .bannerImage {
    width: 50%;
  }
  .saree2offer {
    display: none;
  }
  .offer2 {
    display: none !important;
  }
  .diwaliSaleSection1 {
    background-size: cover !important;
  }
  .diwaliSaleCheckBtn {
    width: 150px !important;
  }
  .saveToWishlist {
    font-size: 12px !important;
  }
  .btnInEditOrderPage {
    width: 30%;
  }
  .couponSectionInput {
    width: 40% !important;
  }
}
@media (min-width: 1500px) {
  .rating-listingPage {
    display: initial;
  }
  .saveToWishlist {
    font-size: 14px !important;
  }
  .similarItemsImage {
    min-height: 300px !important;
    max-height: 300px !important;
  }
  .similarCards {
    height: 600px !important;
  }
}
@media (min-width: 1600px) {
  .productDetailsContainer {
    margin-inline: 150px;
  }
  .diwaliSaleCheckBtn {
    width: 200px !important;
  }
  .saveToWishlist {
    font-size: 15px !important;
  }
}
@media (min-width: 1800px) {
  .productDetailsContainer {
    margin-inline: 200px;
  }
  .diwaliSaleCheckBtn {
    width: 230px !important;
  }
  .similarItemsImage {
    min-height: 350px !important;
    max-height: 350px !important;
  }
  .similarCards {
    height: 650px !important;
  }
  .productImageDiv {
    width: 30%;
  }
  .couponSectionInput {
    width: 36% !important;
  }
}
@media (max-width: 1450px) {
  .checkoutSidebar {
    display: none;
  }
}
@media (max-width: 1400px) {
  .offer {
    display: none !important;
  }
  .diwaliDecoration3 {
    display: none !important;
  }
  .diwaliDecoration13 {
    display: none !important;
  }
  .offer2 {
    display: block !important;
  }
  .menWearShoe {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .productNameOnCartPage {
    height: 75px !important;
  }
}
@media (max-width: 991px) {
  .imageOnProductCurt {
    height: 350px !important;
  }
  .productCardInCart {
    width: 300px !important;
  }
  .cartContainer {
    gap: 30px !important;
  }
  .orderDetailsContainer {
    width: 85%;
  }
  .diwaliOfferOnSuit {
    font-size: 35px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 15px !important;
    margin-top: 10px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 30px !important;
  }
  .shoe1 {
    width: 75% !important;
  }
  .firstUlContainer {
    display: none;
  }
  .floatingAddCardBody {
    flex-direction: column;
  }
  .floatingAddCardBodyText {
    border: none !important;
    padding-left: 0px !important;
    margin-top: 25px;
    width: 100% !important;
    font-weight: 600;
  }
  .AtmCardDetailsForm {
    width: 500px !important;
  }
  .floatingAddCardForm {
    width: 100% !important;
  }
  .loginForm {
    width: 75% !important;
  }
}
@media (max-width: 800px) {
  .productCard {
    flex-direction: column !important;
    height: 600px !important;
  }
  .listProductImage {
    width: 100% !important;
  }
  .upto {
    font-size: 20px !important;
  }
  .diwaliOfferOnSuit {
    font-size: 25px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 12px !important;
    margin-top: 7px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 20px !important;
  }
  .saveToWishlist {
    font-size: 16px !important;
  }
}
@media (max-width: 767px) {
  .productDescription {
    font-size: 18px !important;
  }
  .productCardInCart {
    max-width: 500px !important;
    min-width: 400px !important;
  }
  .diwaliSaleCheckBtn {
    padding-block: 3px !important;
    padding-inline: 6px !important;
  }
  .girlHoldDiya1 {
    display: none !important;
  }
  .coupon {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    margin-top: 20px !important;
  }
  .couponValid {
    font-size: 2vw !important;
  }
  .imageOnProductCurt {
    height: 400px !important;
  }
  .searchInHeader {
    display: none !important;
  }
  .firstUlContainer {
    display: block !important;
  }
  .hamburger {
    display: none;
  }
  .productDetailsContainerFirstSection {
    flex-direction: column !important;
    align-items: center !important;
  }
  .btnContainer1 {
    display: none;
  }
  .productDetailsImage {
    min-width: 50% !important;
  }
  .floatingCard {
    width: 300px !important;
  }
  .floatingCardUserImage {
    width: 250px !important;
    height: 250px !important;
  }
  .AtmCardDetailsForm {
    width: 400px !important;
  }
  .floatingCardHeaderText {
    font-size: 18px;
  }
  .offcanvasFilterForm {
    height: calc(100vh - 120px);
    top: 120px;
  }
}
@media (575px<width<767px) {
  .secondUlContainer {
    display: none;
  }
}
@media (max-width: 650px) {
  .diwaliOfferOnSuit {
    font-size: 18px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 10px !important;
    margin-top: 5px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 15px !important;
  }
  .coupon {
    flex-direction: column !important;
    gap: 0px !important;
  }
  .couponInputLavel {
    font-size: 3vw !important;
  }
  .couponValid {
    font-size: 3vw !important;
  }
  .saleProductFirstSection {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
@media (max-width: 575px) {
  .cardContainer {
    width: 350px !important;
    margin: auto !important;
  }
  .productImage {
    width: 75% !important;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .productCardInCart {
    max-width: 400px !important;
    min-width: 300px !important;
  }
  .listProductImage {
    height: 370px !important;
  }
  .upto {
    font-size: 16px !important;
  }
  .diwaliSaleCheckBtn {
    padding-block: 2px !important;
    padding-inline: 4px !important;
    font-size: 10px !important;
  }
  .couponSection {
    flex-direction: column !important;
    gap: 12px !important;
  }
  .similarItemsImage {
    min-height: 350px !important;
    max-height: 350px !important;
  }
  .similarCards {
    height: 650px !important;
  }
  .productCard {
    height: 650px !important;
  }
  .firstUlContainer {
    display: none !important;
  }
  .hamburger {
    display: block;
  }
  .image {
    height: 350px !important;
  }
  .ProductImageContainer,
  .categoryCard {
    width: 75%;
    margin-inline: auto;
    margin-top: 16px;
  }
  .imageOnProductCurt {
    height: 300px !important;
  }
  .uptoInShoe {
    margin-top: -2px !important;
  }
  .productDetailsImage {
    min-width: 75% !important;
  }
  .AtmCardDetailsForm {
    width: 350px !important;
  }
  .floatingCardHeaderText {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .paymentMethodMainElement {
    margin-inline: 40px;
  }
}
@media (max-width: 499px) {
  .navbarBrand {
    display: none;
  }
  .paymentMethodHeading {
    font-size: 16px !important;
  }
  .discountCard {
    font-size: 13px !important;
  }
  .userName {
    font-size: 16px !important;
  }
  .userAddress {
    font-size: 13px;
  }
  .changeBtn {
    font-size: 15px !important;
  }
  .deliveryDate {
    font-size: 18px !important;
  }
  .cardInPaymentMethodPage {
    flex-direction: column !important;
    max-width: 300px;
    margin-inline: auto !important;
  }
  .deleteOrIncreaseQuantityBtn {
    margin-bottom: 20px !important;
  }
  .placeYourOrderSection {
    flex-direction: column !important;
  }
  .diwaliOfferOnSuit {
    font-size: 15px !important;
  }
  .uptoInCoat {
    font-size: 7px !important;
    margin-top: 5px !important;
  }
  .uptoInShoe {
    font-size: 7px !important;
    margin-top: 1px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 12px !important;
  }
  .couponInput {
    font-size: 12px !important;
    text-align: center !important;
  }
  .productImageDiv,
  .productImageContainerDiv {
    width: 75%;
    margin-top: 12px !important;
  }
  .floatingCard {
    width: 250px !important;
  }
  .floatingCardUserImage {
    width: 200px !important;
    height: 200px !important;
  }
  .floatingCardText {
    font-size: 14px;
  }
  .loginForm {
    width: 85% !important;
  }
}
@media (max-width: 450px) {
  .AddCardLink {
    font-size: 15px !important;
  }
  .AtmCardImg {
    display: none !important;
  }
  .addCardBtn {
    display: none !important;
  }
  .cardImage {
    width: 30px !important;
  }
  .productOrderDetails {
    flex-direction: column !important;
  }
  .upto {
    font-size: 10px !important;
  }
  .AtmCardDetailsForm {
    width: 300px !important;
  }
  .floatingCardHeaderText {
    font-size: 14px;
  }
  .floatingCardHeaderCrossBtn {
    width: 12px !important;
  }
  .floatingAddCardBodyInput {
    margin-left: 0px !important;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .floatingAddCardBodyBr {
    display: none;
  }
  .paymentMethodMainElement {
    margin-inline: 30px;
  }
}
@media (max-width: 420px) {
  .description {
    min-width: 100px !important;
  }
  .listProductImage {
    height: 300px !important;
  }
  .shipToCard {
    display: none;
  }
  .productYourOrder {
    flex-direction: column;
  }
  .diwaliOfferOnSuit {
    font-size: 12px !important;
  }
  .uptoInCoat {
    font-size: 7px !important;
    margin-top: 3px !important;
  }
  .uptoInShoe {
    font-size: 7px !important;
    margin-top: 1px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 10px !important;
  }
  .image {
    height: 300px !important;
  }
  .productCard {
    height: 600px !important;
  }
}
@media (max-width: 400px) {
  .deliveryAddressSection {
    flex-direction: column !important;
  }
  .paymentMethodSection {
    flex-direction: column !important;
  }
  .changeBtn {
    font-size: 14px !important;
  }
  .searchBtnInPage1 {
    display: none !important;
  }
  .searchInputInPage {
    width: 75% !important;
  }
  .cardInUserProfilePage {
    flex-direction: column !important;
  }
  .goldenRibbonCarousel {
    margin-top: -2px;
  }
  .floatingCard {
    width: 200px !important;
  }
  .floatingCardUserImage {
    width: 150px !important;
    height: 150px !important;
  }
  .floatingCardText {
    line-height: 18px;
  }
  .usrAccTextFloatingCard {
    font-size: 20px;
  }
  .crossBtnFloatingCard {
    width: 15px !important;
  }
  .profilePicTextFloatingCard {
    font-size: 18px;
  }
  .floatingCardBtns {
    flex-direction: column;
    row-gap: 5px;
  }
  .floatingCardBtn {
    min-width: 100%;
  }
  .AtmCardDetailsForm {
    width: 250px !important;
  }
  .floatingCardHeaderText {
    font-size: 12px;
  }
  .loginForm {
    padding-inline: 24px !important;
  }
}
@media (max-width: 370px) {
  .diwaliOfferOnSuit {
    font-size: 9px !important;
  }
  .uptoInCoat {
    font-size: 5px !important;
    margin-top: 1px !important;
  }
  .uptoInShoe {
    font-size: 5px !important;
    margin-top: 3px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 7px !important;
  }
  .similarItemsImage {
    min-height: 300px !important;
    max-height: 300px !important;
  }
  .similarCards {
    height: 600px !important;
  }
  .AddCardLink {
    display: none;
  }
  .AddCardLink2 {
    display: block !important;
  }
  .paymentViaCashOnDeliveryLabel {
    font-size: 15px;
  }
  .paymentViaCashOnDeliveryText {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .searchInHeader {
    display: none;
  }
  .productCardInCart {
    max-width: 250px !important;
    min-width: 200px !important;
  }
  .goldenRibbonCarousel {
    margin-top: -3px;
  }
  .paymentMethodMainElement {
    margin-inline: 20px;
  }
}
@media (max-width: 320px) {
  .orderFeaturesInProductDetailsPage {
    padding-inline: 24px !important;
  }
  .sizeBtnContainer {
    display: block !important;
  }
  .sizeText {
    display: block !important;
    margin-bottom: 5px !important;
  }
  .quantityBtnContainer {
    display: block !important;
  }
  .quantityText {
    display: block !important;
    margin-bottom: 5px !important;
  }
  .image {
    height: 250px !important;
  }
  .alertMessage {
    font-size: 18px !important;
  }
  .newArrivalHeader {
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  .newArrivalCardTitle {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  .diwaliSaleHeader {
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  .diwaliSaleCardTitle {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  .productCategoryLabel {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  .ProductImageContainer,
  .categoryCard {
    width: 100%;
    margin-inline: unset;
    margin-top: unset;
  }
  .saveToWishlist {
    font-size: 14px !important;
  }
  .rating-listingPage {
    display: none !important;
  }
  .btnInEditOrderPage {
    flex-direction: column !important;
  }
  .BanksFacilitateNetBanking {
    width: 140px !important;
    font-size: 12px !important;
  }
  .cardImagesInPaymentMethodPage {
    flex-wrap: wrap !important;
  }
  .useThisPaymentMethodBtn,
  .placeYourOrderBtn {
    font-size: 14px !important;
  }
  .deliveryDate {
    font-size: 16px !important;
  }
  .couponSectionLabel {
    font-size: 18px !important;
  }
  .totalOrderCard {
    display: none;
  }
  .goldenRibbonCarousel {
    margin-top: -5px;
  }
  .listProductName {
    height: 96px !important;
  }
  .similarCards {
    height: 650px !important;
  }
  .AtmCardDetailsForm {
    width: 220px !important;
  }
  .floatingCardHeaderText {
    font-size: 10px;
  }
}
@media (max-width: 291px) {
  .alertMessage {
    font-size: 14px !important;
  }
  .alertBtn {
    font-size: 12px !important;
  }
  .newArrivalHeader {
    font-size: 16px !important;
  }
  .diwaliSaleHeader {
    font-size: 16px !important;
  }
  .newArrivalCardTitle {
    font-size: 12px !important;
  }
  .diwaliSaleCardTitle {
    font-size: 12px !important;
  }
  .saveToWishlist {
    font-size: 10px !important;
  }
  .listProductImage {
    height: 250px !important;
  }
  .productCard {
    height: 550px !important;
  }
  .addToCart {
    font-size: 12px !important;
  }
  .listProductName {
    font-size: 15px;
  }
  .productCardInCart {
    max-width: 200px !important;
    min-width: 200px !important;
  }
  .sareeImageInDiwaliSalePage {
    margin-left: -15px !important;
  }
  .useThisPaymentMethodBtn,
  .placeYourOrderBtn {
    font-size: 11px !important;
  }
  .orderTotalPlaceOrderSection {
    font-size: 15px !important;
  }
  .deliveryDate {
    font-size: 13.5px !important;
  }
  .couponSectionLabel {
    font-size: 15px !important;
  }
  .goldenRibbonCarousel {
    margin-top: -10px;
  }
  .uptoInShoe {
    margin-top: 5px !important;
  }
  .paymentViaCardLabel {
    font-size: 14px;
  }
  .paymentViaCashOnDeliveryLabel {
    font-size: 13px;
  }
  .paymentViaCashOnDeliveryText {
    font-size: 13px;
  }
  .loginForm {
    width: 95% !important;
    padding-inline: 12px !important;
    padding-block: 12px !important;
  }
  .paymentMethodMainElement {
    margin-inline: 10px;
  }
}

.star-bottom::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: rgb(150, 147, 147);
}

.star-top::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: gold;
}

.star-bottom {
  width: 104.14px;
  height: 37.5px;
}

.star-top {
  width: 104.14px;
  height: 37.5px;
}

.changeImage {
  transform: translateX(30px) !important;
  cursor: pointer !important;
}

.changeImage:hover {
  background-color: aqua !important;
}

.floatingCardBtn {
  width: 45%;
  background-color: rgb(133, 214, 247) !important;
}

.floatingCard {
  transform: translate(-50%, -10%);
}

.addressEditOrRemove:hover {
  text-decoration: underline;
}

.AtmCardDetailsForm {
  transform: translate(-50%, -50%);
}

.editImageUrl:hover {
  color: yellow !important;
}

.removeImageUrl:hover {
  color: red !important;
}

.profileBtnInHeader:hover {
  border: 1px solid black;
  cursor: pointer;
}

.userAddressFloatingCard:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.viewOrderDetailsYourOrders:hover {
  text-decoration: underline !important;
}

.text1 {
  width: 40vw;
  font-size: 2.8vw;
  font-family: "Salsa", cursive;
  margin-left: 15vw;
  top: -1.5vw;
}

.line1 {
  width: 70%;
  margin: 0vw auto 5vw;
  padding-top: 1vw;
  height: 1.8vw;
}

.text2 {
  font-size: 5vw;
  font-family: "Style Script", cursive;
  margin-top: 3vw;
}

.line2 {
  width: 70%;
  margin: 2.5vw auto 0vw;
  padding-bottom: 0.8vw;
  height: 1.8vw;
}

.slide2 {
  background-image: linear-gradient(#f5b7d4 85%, #e595b8 20%);
}

.slide3 {
  background-image: linear-gradient(#384967 85%, #6a6561 20%);
}

.menWearCoatContainer {
  width: 70% !important;
}

.diwaliOfferOnMenSuit {
  width: 30% !important;
}

.slide4 {
  background-image: linear-gradient(#fdb8dc 85%, #b37281 20%);
}

.groupOfWomenWearLahenga {
  width: 70% !important;
  max-width: 900px;
}

.diwaliOfferOnLahenga {
  width: 30% !important;
}

.diwaliDecoration2 {
  transform: rotate(90deg);
}

.slide5 {
  background-image:
    linear-gradient(-250deg, #48484a 40%, #252324 30%),
    linear-gradient(70deg, #2d2d2e 27%, #363636 20%);
  background-size:
    100% 85%,
    100% 16%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.shoeContainerInDiwaliSaleBanner {
  width: 70% !important;
}

.diwaliOfferOnShoes {
  width: 30% !important;
}

.menWearShoe {
  width: 30% !important;
  max-width: 500px !important;
}

.pre-btn,
.nxt-btn {
  width: 25px;
  height: 50px;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nxt-btn {
  right: 0;
}
.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}
.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
.pre-btn:hover,
.nxt-btn:hover {
  border: 2px solid black;
}

.orderFeaturesContainerInProductDetailsPage {
  position: relative;
  overflow: hidden;
}
.orderFeaturesInProductDetailsPage {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.orderFeaturesInProductDetailsPage::-webkit-scrollbar {
  display: none;
}

.checkoutSidebar {
  width: 17vw;
  min-width: 250px;
  max-width: 250px;
  border-radius: 10px;
}
.aboutProduct-sidebar-price {
  font-size: 30px;
}
.aboutProduct-sidebar-deliveryLocation {
  gap: 5px;
}
.aboutProduct-sidebar-deliveryEstimate {
  font-size: 14px;
  margin-top: 10px;
}
.aboutProduct-sidebar-deliveryLocation {
  margin-top: 10px;
}
.sidebar-deliveryLocation-locationLogo {
  width: 20px;
}
.sidebar-deliveryLocation-locationText {
  font-size: 12px;
  color: blue;
}
.aboutProduct-sidebar-stockStatus {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: green;
}
.aboutProduct-sidebar-table {
  font-size: 12px;
}
.aboutProduct-sidebar-table td {
  vertical-align: top;
}
.aboutProduct-sidebar-table td:nth-child(1) {
  width: 70px;
}
.aboutProduct-sidebar-table td:nth-child(2) {
  color: blue;
}
.action-button {
  height: 35px;
  margin-block: 10px;
  font-size: 12px;
}
.aboutProduct-sidebar-quantitySelector {
  background-color: #f0f2f2;
  border-radius: 7px;
  padding: 10px;
}
.sidebar-quantitySelector-dropdownIcon {
  width: 15px;
}
