.logo {
  width: 25px;
}
.festivalBanner {
  height: 700px;
}
.productName {
  max-height: 96px !important;
  overflow: hidden !important;
}
.listProductName {
  max-height: 80px !important;
  overflow: hidden !important;
}

.similarCards {
  height: 520px !important;
}

@media (min-width: 1400px) {
  .bannerImage {
    width: 50%;
  }
  .saveToWishlist {
    font-size: 12px !important;
  }
}
@media (min-width: 1550px) {
  .saveToWishlist {
    font-size: 16px !important;
  }
}
@media (max-width: 1400px) {
  .festivalBanner {
    height: 700px !important;
  }
}
@media (min-width: 1200px) {
  .productDetailsContainer {
    margin-inline: 70px;
  }
}
@media (min-width: 992px) {
  .productDetailsImage {
    min-width: 250px !important;
  }
  .productDetailsContainer {
    margin-inline: 60px;
  }
  .paymentMethodSectionOne {
    width: 70% !important;
  }
  .paymentMethodSectionTwo {
    width: 30% !important;
  }
}
@media (max-width: 800px) {
  .productCard {
    flex-direction: column !important;
    height: 600px !important;
  }
  .listProductImage {
    width: 100% !important;
  }
  .firstUlContainer {
    display: none;
  }
  .festivalBanner {
    height: 600px !important;
  }
}
@media (min-width: 800px) {
  .productCard {
    flex-direction: row !important;
  }
  .listProductImage {
    min-width: 50% !important;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 991px) {
  .imageOnProductCurt {
    height: 300px !important;
  }
  .productCardInCart {
    width: 300px !important;
  }
  .cartContainer {
    gap: 30px !important;
  }
}
@media (max-width: 767px) {
  .productDetailsImage {
    min-width: 150px !important;
  }
  .productDescription {
    font-size: 18px !important;
  }
  .productCardInCart {
    max-width: 250px !important;
  }
}
@media (min-width: 768px) {
  .productDescription {
    font-size: 21px !important;
  }
}
@media (max-width: 575px) {
  .cardContainer {
    width: 350px !important;
    margin: auto !important;
  }
  .btnContainer1 {
    display: none;
  }
  .productImage {
    width: 50% !important;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .productCardInCart {
    max-width: 300px !important;
  }
  .listProductImage {
    height: 350px !important;
  }
}
@media (min-width: 576px) {
  .buyingFeatures {
    width: 40px !important;
  }
  .btnContainer2 {
    display: none;
  }
  .productImage {
    width: 100% !important;
  }
}
@media (min-width: 500px) {
  .myntraLogo {
    display: none;
  }
  .image {
    height: 300px !important;
  }
}
@media (max-width: 499px) {
  .navbarBrand {
    display: none;
  }
  .image {
    height: 150px !important;
  }
  .festivalBanner {
    height: 400px !important;
  }
}
@media (max-width: 450px) {
  .AddCardLink {
    font-size: 15px !important;
  }
  .AtmCardImg {
    display: none !important;
  }
  .addCardBtn {
    display: none !important;
  }
  .cardImage {
    width: 30px !important;
  }
}
@media (max-width: 420px) {
  .description {
    min-width: 100px !important;
  }
  .listProductImage {
    height: 300px !important;
  }
}
@media (min-width: 351px) {
  .searchInApp {
    display: none;
  }
}
@media (max-width: 350px) {
  .searchInHeader {
    display: none;
  }
  .festivalBanner {
    height: 300px !important;
  }
  .productCardInCart {
    max-width: 250px !important;
  }
}
@media (max-width: 300px) {
  .festivalBanner {
    height: 200px !important;
  }
}
@media (min-width: 576px) {
  .totalBill {
    min-width: 300px !important;
  }
  .productDetailsImage {
    position: sticky !important;
  }
}
@media (min-width: 768px) {
  .totalBill {
    min-width: 300px !important;
    position: sticky !important;
    top: 10px;
  }
}
@media (min-width: 992px) {
  .totalBill {
    min-width: 400px !important;
  }
  .productsInCurt {
    min-width: 485px !important;
  }
  .imageOnProductCurt {
    min-width: 200px !important;
  }
  .cartContainer {
    gap: 50px;
  }
}
@media (min-width: 1200px) {
  .totalBill {
    min-width: 500px !important;
  }
  .productsInCurt {
    min-width: 550px !important;
  }
}
@media (min-width: 1400px) {
  .productDetailsImage {
    min-width: 300px !important;
  }
  .productDetailsContainer {
    margin-inline: 100px;
  }
  .totalBill {
    min-width: 600px !important;
  }
  .rating-listingPage {
    display: none;
  }
}
@media (min-width: 1500px) {
  .rating-listingPage {
    display: initial;
  }
}
@media (min-width: 1600px) {
  .productDetailsContainer {
    margin-inline: 150px;
  }
}
@media (min-width: 1800px) {
  .productDetailsContainer {
    margin-inline: 200px;
  }
}

.star-bottom::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: rgb(150, 147, 147);
}

.star-top::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: gold;
}

.star-bottom {
  width: 104.14px;
  height: 37.5px;
}

.star-top {
  width: 104.14px;
  height: 37.5px;
}

.changeImage {
  transform: translateX(30px) !important;
  cursor: pointer !important;
}

.changeImage:hover {
  background-color: aqua !important;
}

.floatingCardBtn {
  width: 45%;
  background-color: rgb(133, 214, 247) !important;
}

.floatingCard {
  transform: translate(-50%, -10%);
}

.addressEditOrRemove:hover {
  text-decoration: underline;
}

.AtmCardDetailsForm {
  transform: translate(-50%, -50%);
}

.editImageUrl:hover {
  color: yellow !important;
}

.removeImageUrl:hover {
  color: red !important;
}

.profileBtnInHeader:hover {
  border:1px solid black;
  cursor:pointer;
}
