.logo {
  width: 25px;
}
.productName {
  max-height: 96px !important;
  overflow: hidden !important;
}
.listProductName {
  max-height: 80px !important;
  overflow: hidden !important;
}

.similarCards {
  height: 520px !important;
}

@media (min-width: 300px) {
  .diwaliSaleCard {
    height: 150px !important;
  }
  .diwaliSalePageOffer1 {
    margin-left: 3px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -15px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -12px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 5px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -7px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -10px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -15px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -12px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: 5px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -7px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 10px !important;
    margin-bottom: 7px !important;
    margin-left: -10px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -15px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -12px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 5px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -7px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -10px !important;
  }
  .diwaliSaleCheckBtn {
    width: 45px !important;
  }
}
@media (min-width: 351px) {
  .searchInApp {
    display: none;
  }
}
@media (min-width: 420px) {
  .shipTo {
    display: none;
  }
  .diwaliSaleCard {
    height: 200px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -25px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 7px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -12px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -25px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: 7px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -12px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 15px !important;
    margin-bottom: 10px !important;
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -25px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 7px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -12px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn {
    width: 90px !important;
  }
}
@media (min-width: 500px) {
  .BharatVastra {
    display: none;
  }
  .image {
    height: 300px !important;
  }
  .cardInPaymentMethodPage {
    flex-direction: row !important;
  }
}
@media (min-width: 576px) {
  .totalBill {
    min-width: 300px !important;
  }
  .productDetailsImage {
    position: sticky !important;
  }
  .buyingFeatures {
    width: 40px !important;
  }
  .btnContainer2 {
    display: none;
  }
  .productImage {
    width: 100% !important;
  }
  .diwaliSaleCard {
    height: 300px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -35px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -30px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 10px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -35px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: 10px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -35px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 10px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn {
    width: 145px !important;
  }
  .couponSection {
    gap: 25px !important;
  }
  .couponSectionInput {
    width: 50% !important;
  }
  .couponSectionLabel {
    width: 50% !important;
  }
}
@media (min-width: 650px) {
  .saleProductFirstSection {
    align-items: center !important;
  }
}
@media (min-width: 768px) {
  .totalBill {
    min-width: 300px !important;
    position: sticky !important;
    top: 10px;
  }
  .productDescription {
    font-size: 21px !important;
  }
  .coupon {
    width: 25% !important;
  }
}
@media (min-width: 800px) {
  .productCard {
    flex-direction: row !important;
  }
  .listProductImage {
    min-width: 50% !important;
  }
  .hamburger {
    display: none;
  }
  .upto {
    font-size: 26px !important;
  }
  .diwaliSaleCard {
    height: 430px !important;
  }
  .diwaliSalePageOffer2 {
    margin-left: -50px !important;
  }
  .diwaliSalePageOffer3 {
    margin-left: -40px !important;
  }
  .diwaliSalePageOffer4 {
    margin-left: 15px !important;
  }
  .diwaliSalePageOffer5 {
    margin-left: -20px !important;
  }
  .diwaliSalePageOffer6 {
    margin-left: -30px !important;
  }
  .DiwaliSaleProductName1 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
  }
  .DiwaliSaleProductName2 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -50px !important;
  }
  .DiwaliSaleProductName3 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -40px !important;
  }
  .DiwaliSaleProductName4 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: 15px !important;
  }
  .DiwaliSaleProductName5 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -20px !important;
  }
  .DiwaliSaleProductName6 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn2 {
    margin-left: -50px !important;
  }
  .diwaliSaleCheckBtn3 {
    margin-left: -40px !important;
  }
  .diwaliSaleCheckBtn4 {
    margin-left: 15px !important;
  }
  .diwaliSaleCheckBtn5 {
    margin-left: -20px !important;
  }
  .diwaliSaleCheckBtn6 {
    margin-left: -30px !important;
  }
  .diwaliSaleCheckBtn {
    width: 200px !important;
  }
}
@media (min-width: 992px) {
  .totalBill {
    min-width: 400px !important;
  }
  .productsInCurt {
    min-width: 485px !important;
  }
  .cartContainer {
    gap: 50px;
  }
  .productDetailsImage {
    min-width: 250px !important;
  }
  .productDetailsContainer {
    margin-inline: 60px;
  }
  .paymentMethodSectionOne {
    width: 70% !important;
  }
  .paymentMethodSectionTwo {
    width: 30% !important;
  }
  .orderDetailsBill {
    width: 250px;
  }
  .text1 {
    width: 40vw;
    font-size: 28px !important;
    font-family: "Salsa", cursive;
    margin-left: 150px !important;
    top: -15px !important;
  }
  .jhalarImage {
    width: 250px !important;
    height: 250px !important;
  }
  .deepakImage {
    width: 280px !important;
    height: 280px !important;
  }
  .text2 {
    font-size: 50px !important;
  }
  .line1 {
    width: 610px !important;
    margin-bottom: 50px !important;
    padding-top: 10px !important;
    height: 18px !important;
  }
  .line2 {
    width: 610px !important;
    height: 18px !important;
    padding-bottom: 8px !important;
    margin-top: 25px !important;
  }
  .saree1 {
    width: 523px !important;
  }
  .saree2 {
    width: 320px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    margin-top: 18px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 36px !important;
  }
  .diwaliOfferOnLahenga {
    max-width: 262px !important;
  }
  .groupOfWomenWearLahenga {
    max-width: 615px !important;
  }
  .diwaliOfferOnShoes {
    max-width: 263px !important;
  }
  .shoeContainerInDiwaliSaleBanner {
    max-width: 613px !important;
  }
  .shoe1 {
    width: 100% !important;
  }
  .diwaliSaleCheckBtn {
    width: 250px !important;
  }
  .productCardInCart {
    height: 370px !important;
  }
  .imageOnProductCurt {
    max-width: 200px !important;
    min-width: 200px !important;
  }
}
@media (min-width: 1200px) {
  .totalBill {
    min-width: 500px !important;
  }
  .productsInCurt {
    min-width: 550px !important;
  }
  .productDetailsContainer {
    margin-inline: 70px;
  }
  .diwaliOfferOnMenSuit {
    max-width: 316px !important;
  }
  .menWearCoatContainer {
    max-width: 740px !important;
  }
  .diwaliSaleCheckBtn {
    width: 300px !important;
  }
  .productCardInCart {
    height: 350px !important;
  }
  .imageOnProductCurt {
    max-width: 250px !important;
    min-width: 250px !important;
  }
  .productNameOnCartPage {
    height: 50px !important;
  }
}
@media (min-width: 1400px) {
  .productDetailsImage {
    min-width: 300px !important;
  }
  .productDetailsContainer {
    margin-inline: 100px;
  }
  .totalBill {
    min-width: 600px !important;
  }
  .rating-listingPage {
    display: none;
  }
  .bannerImage {
    width: 50%;
  }
  .saveToWishlist {
    font-size: 12px !important;
  }
  .saree2offer {
    display: none;
  }
  .offer2 {
    display: none !important;
  }
  .diwaliSaleSection1 {
    background-size: cover !important;
  }
  .diwaliSaleCheckBtn {
    width: 150px !important;
  }
}
@media (min-width: 1500px) {
  .rating-listingPage {
    display: initial;
  }
  .saveToWishlist {
    font-size: 16px !important;
  }
}
@media (min-width: 1600px) {
  .productDetailsContainer {
    margin-inline: 150px;
  }
  .diwaliSaleCheckBtn {
    width: 200px !important;
  }
}
@media (min-width: 1800px) {
  .productDetailsContainer {
    margin-inline: 200px;
  }
  .diwaliSaleCheckBtn {
    width: 230px !important;
  }
}
@media (max-width: 1400px) {
  .offer {
    display: none !important;
  }
  .diwaliDecoration3 {
    display: none !important;
  }
  .diwaliDecoration13 {
    display: none !important;
  }
  .offer2 {
    display: block !important;
  }
  .menWearShoe {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .productNameOnCartPage {
    height: 75px !important;
  }
}
@media (max-width: 991px) {
  .imageOnProductCurt {
    height: 350px !important;
  }
  .productCardInCart {
    width: 300px !important;
  }
  .cartContainer {
    gap: 30px !important;
  }
  .orderDetailsContainer {
    width: 75%;
  }
  .diwaliOfferOnSuit {
    font-size: 35px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 15px !important;
    margin-top: 10px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 30px !important;
  }
  .shoe1 {
    width: 75% !important;
  }
}
@media (max-width: 800px) {
  .productCard {
    flex-direction: column !important;
    height: 600px !important;
  }
  .listProductImage {
    width: 100% !important;
  }
  .firstUlContainer {
    display: none;
  }
  .upto {
    font-size: 20px !important;
  }
  .diwaliOfferOnSuit {
    font-size: 25px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 12px !important;
    margin-top: 7px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 20px !important;
  }
}
@media (max-width: 767px) {
  .productDetailsImage {
    min-width: 150px !important;
  }
  .productDescription {
    font-size: 18px !important;
  }
  .productCardInCart {
    max-width: 500px !important;
    min-width: 400px !important;
  }
  .diwaliSaleCheckBtn {
    padding-block: 3px !important;
    padding-inline: 6px !important;
  }
  .girlHoldDiya1 {
    display: none !important;
  }
  .coupon {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    margin-top: 20px !important;
  }
  .couponValid {
    font-size: 2vw !important;
  }
  .imageOnProductCurt {
    height:400px !important;
  }
}
@media (max-width: 650px) {
  .diwaliOfferOnSuit {
    font-size: 18px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 10px !important;
    margin-top: 5px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 15px !important;
  }
  .coupon {
    flex-direction: column !important;
    gap: 0px !important;
  }
  .couponInputLavel {
    font-size: 3vw !important;
  }
  .couponValid {
    font-size: 3vw !important;
  }
  .saleProductFirstSection {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
@media (max-width: 575px) {
  .cardContainer {
    width: 350px !important;
    margin: auto !important;
  }
  .btnContainer1 {
    display: none;
  }
  .productImage {
    width: 50% !important;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .productCardInCart {
    max-width: 400px !important;
    min-width: 300px !important;
  }
  .listProductImage {
    height: 350px !important;
  }
  .upto {
    font-size: 16px !important;
  }
  .diwaliSaleCheckBtn {
    padding-block: 2px !important;
    padding-inline: 4px !important;
    font-size: 10px !important;
  }
  .couponSection {
    flex-direction: column !important;
    gap: 15px !important;
  }
}
@media (max-width: 499px) {
  .navbarBrand {
    display: none;
  }
  .image {
    height: 150px !important;
  }
  .paymentMethodHeading {
    font-size: 16px !important;
  }
  .discountCard {
    font-size: 13px !important;
  }
  .userName {
    font-size: 16px !important;
  }
  .userAddress {
    font-size: 13px;
  }
  .changeBtn {
    font-size: 15px !important;
  }
  .deliveryDate {
    font-size: 18px !important;
  }
  .cardInPaymentMethodPage {
    flex-direction: column !important;
    max-width: 300px;
    margin-inline: auto !important;
  }
  .productImageInPaymentMethodPage {
    width: 100% !important;
    height: 250px !important;
  }
  .deleteOrIncreaseQuantityBtn {
    margin-bottom: 20px !important;
  }
  .placeYourOrderSection {
    flex-direction: column !important;
  }
  .diwaliOfferOnSuit {
    font-size: 15px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 7px !important;
    margin-top: 5px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 12px !important;
  }
  .couponInput {
    font-size: 12px !important;
    text-align: center !important;
  }
}
@media (max-width: 450px) {
  .AddCardLink {
    font-size: 15px !important;
  }
  .AtmCardImg {
    display: none !important;
  }
  .addCardBtn {
    display: none !important;
  }
  .cardImage {
    width: 30px !important;
  }
  .productOrderDetails {
    flex-direction: column !important;
  }
  .upto {
    font-size: 10px !important;
  }
}
@media (max-width: 420px) {
  .description {
    min-width: 100px !important;
  }
  .listProductImage {
    height: 300px !important;
  }
  .shipToCard {
    display: none;
  }
  .productYourOrder {
    flex-direction: column;
  }
  .diwaliOfferOnSuit {
    font-size: 12px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 7px !important;
    margin-top: 3px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 10px !important;
  }
}
@media (max-width: 400px) {
  .deliveryAddressSection {
    flex-direction: column !important;
  }
  .paymentMethodSection {
    flex-direction: column !important;
  }
  .changeBtn {
    font-size: 14px !important;
  }
}
@media (max-width: 370px) {
  .diwaliOfferOnSuit {
    font-size: 9px !important;
  }
  .uptoInCoat,
  .uptoInShoe {
    font-size: 5px !important;
    margin-top: 1px !important;
  }
  .diwaliOfferInSuitCard {
    font-size: 7px !important;
  }
}
@media (max-width: 350px) {
  .searchInHeader {
    display: none;
  }
  .productCardInCart {
    max-width: 250px !important;
    min-width: 200px !important;
  }
}

.star-bottom::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: rgb(150, 147, 147);
}

.star-top::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 25px;
  color: gold;
}

.star-bottom {
  width: 104.14px;
  height: 37.5px;
}

.star-top {
  width: 104.14px;
  height: 37.5px;
}

.changeImage {
  transform: translateX(30px) !important;
  cursor: pointer !important;
}

.changeImage:hover {
  background-color: aqua !important;
}

.floatingCardBtn {
  width: 45%;
  background-color: rgb(133, 214, 247) !important;
}

.floatingCard {
  transform: translate(-50%, -10%);
}

.addressEditOrRemove:hover {
  text-decoration: underline;
}

.AtmCardDetailsForm {
  transform: translate(-50%, -50%);
}

.editImageUrl:hover {
  color: yellow !important;
}

.removeImageUrl:hover {
  color: red !important;
}

.profileBtnInHeader:hover {
  border: 1px solid black;
  cursor: pointer;
}

.userAddressFloatingCard:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.viewOrderDetailsYourOrders:hover {
  text-decoration: underline !important;
}

.text1 {
  width: 40vw;
  font-size: 2.8vw;
  font-family: "Salsa", cursive;
  margin-left: 15vw;
  top: -1.5vw;
}

.line1 {
  width: 70%;
  margin: 0vw auto 5vw;
  padding-top: 1vw;
  height: 1.8vw;
}

.text2 {
  font-size: 5vw;
  font-family: "Style Script", cursive;
  margin-top: 3vw;
}

.line2 {
  width: 70%;
  margin: 2.5vw auto 0vw;
  padding-bottom: 0.8vw;
  height: 1.8vw;
}

.slide2 {
  background-image: linear-gradient(#f5b7d4 85%, #e595b8 20%);
}

.slide3 {
  background-image: linear-gradient(#384967 85%, #6a6561 20%);
}

.menWearCoatContainer {
  width: 70% !important;
}

.diwaliOfferOnMenSuit {
  width: 30% !important;
}

.slide4 {
  background-image: linear-gradient(#fdb8dc 85%, #b37281 20%);
}

.groupOfWomenWearLahenga {
  width: 70% !important;
  max-width: 900px;
}

.diwaliOfferOnLahenga {
  width: 30% !important;
}

.diwaliDecoration2 {
  transform: rotate(90deg);
}

.slide5 {
  background-image: linear-gradient(-250deg, #48484a 40%, #252324 30%),
    linear-gradient(70deg, #2d2d2e 27%, #363636 20%);
  background-size: 100% 85%, 100% 16%;
  background-position: top, bottom;
  background-repeat: no-repeat;
}

.shoeContainerInDiwaliSaleBanner {
  width: 70% !important;
}

.diwaliOfferOnShoes {
  width: 30% !important;
}

.menWearShoe {
  width: 30% !important;
  max-width: 500px !important;
}
